/* simpebar styles */
@import 'simplebar-react/dist/simplebar.min.css';

/* public styles */
@import '../../public/assets/styles/index.css';

/* Remove webkit autofill blue background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
}

/* For transitioning input backgrounds on autofill */
input:-webkit-autofill {
  -webkit-transition-delay: 99999s;
  transition-delay: 99999s;
}
